{% extends "plantillaBase.html" %}

{% block content %}

<h1>TU PLAN A ADJUDICAR</h1>

  <p>Aquí deberás definir la vivienda a adjudicar, algunos otros datos (te ayudaremos...)</p>

<form action="" method="post">
    {% csrf_token %}
    
    <label for="{{ form.vivienda_adjudicar.id_for_label }}">Vivienda elegida:</label>
    {{ form.vivienda_adjudicar }}<br>
    <label for="{{ form.odm.id_for_label }}">Oferta de devolución mensual (%):</label>
    {{ form.odm }}<br>
    Aportes en efectivo:<br>
    <label for="{{ form.oferta_efectivo.id_for_label }}">Al momento de la adjudicación:</label>
    {{ form.oferta_efectivo }}<br>
    <label for="{{ form.oferta_treinta.id_for_label }}">A los 30 días de la adjudicación:</label>
    {{ form.oferta_treinta }}<br>
    <label for="{{ form.oferta_sesenta.id_for_label }}">A los 60 días de la adjudicación:</label>
    {{ form.oferta_sesenta }}<br>
    <label for="{{ form.oferta_noventa.id_for_label }}">A los 90 días de la adjudicación:</label>
    {{ form.oferta_noventa }}<br>
    <label for="{{ form.oferta_c_veinte.id_for_label }}">A los 120 días de la adjudicación:</label>
    {{ form.oferta_c_veinte }}<br>
    <label for="{{ form.oferta_c_cincuenta.id_for_label }}">A los 150 días de la adjudicación:</label>
    {{ form.oferta_c_cincuenta }}<br>
    <label for="{{ form.oferta_c_ochenta.id_for_label }}">A los 180 días de la adjudicación:</label>
    {{ form.oferta_c_ochenta }}<br>
    
    
    <input type="submit" value="CONFIRMAR">
</form>

{% endblock %}